<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- 제품 정의 -->
  <Product Id="*" 
           Name="SimpleSerialToApi" 
           Language="1042" 
           Version="1.0.0.0" 
           Manufacturer="YourCompany"
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <!-- 패키지 정보 -->
    <Package Id="*"
             Description="Simple Serial To API Application"
             Comments="Converts serial data to API calls"
             Manufacturer="YourCompany"
             InstallerVersion="200" 
             Compressed="yes"
             InstallScope="perMachine" 
             Platform="x64" />

    <!-- 업그레이드 규칙 -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of SimpleSerialToApi is already installed." />
    
    <!-- 미디어 정의 -->
    <MediaTemplate EmbedCab="yes" />

    <!-- 기능 정의 -->
    <Feature Id="ProductFeature" Title="SimpleSerialToApi" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <!-- 디렉토리 구조 -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Files -->
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ManufacturerFolder" Name="YourCompany">
          <Directory Id="INSTALLFOLDER" Name="SimpleSerialToApi">
            <!-- Dependencies 폴더 -->
            <Directory Id="DependenciesFolder" Name="Dependencies" />
            <!-- Documentation 폴더 -->
            <Directory Id="DocumentationFolder" Name="Documentation" />
            <!-- Logs 폴더 -->
            <Directory Id="LogsFolder" Name="Logs" />
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="SimpleSerialToApi" />
      </Directory>
      
      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <!-- 애플리케이션 파일 컴포넌트 -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- 메인 실행 파일 -->
      <Component Id="MainExecutable" Guid="12345678-1234-1234-1234-123456789013">
        <File Id="SimpleSerialToApiExe" 
              Source="$(var.SimpleSerialToApi.TargetPath)" 
              KeyPath="yes" />
      </Component>
      
      <!-- 설정 파일 -->
      <Component Id="ConfigurationFiles" Guid="12345678-1234-1234-1234-123456789014">
        <File Id="AppConfig" Source="$(var.SimpleSerialToApi.TargetDir)SimpleSerialToApi.dll.config" />
        <File Id="AppSettingsJson" Source="$(var.SimpleSerialToApi.TargetDir)appsettings.json" />
      </Component>

      <!-- .NET 라이브러리 -->
      <Component Id="DotNetLibraries" Directory="DependenciesFolder" Guid="12345678-1234-1234-1234-123456789015">
        <File Id="SystemIOPorts" Source="$(var.SimpleSerialToApi.TargetDir)System.IO.Ports.dll" />
        <File Id="NewtonsoftJson" Source="$(var.SimpleSerialToApi.TargetDir)Newtonsoft.Json.dll" />
        <File Id="Serilog" Source="$(var.SimpleSerialToApi.TargetDir)Serilog.dll" />
        <File Id="SerilogSinksFile" Source="$(var.SimpleSerialToApi.TargetDir)Serilog.Sinks.File.dll" />
        <File Id="SerilogSinksConsole" Source="$(var.SimpleSerialToApi.TargetDir)Serilog.Sinks.Console.dll" />
        <File Id="Polly" Source="$(var.SimpleSerialToApi.TargetDir)Polly.dll" />
        <File Id="MicrosoftExtensionsConfiguration" Source="$(var.SimpleSerialToApi.TargetDir)Microsoft.Extensions.Configuration.dll" />
        <File Id="MicrosoftExtensionsDependencyInjection" Source="$(var.SimpleSerialToApi.TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
        <File Id="MicrosoftExtensionsLogging" Source="$(var.SimpleSerialToApi.TargetDir)Microsoft.Extensions.Logging.dll" />
      </Component>

      <!-- 문서 -->
      <Component Id="Documentation" Directory="DocumentationFolder" Guid="12345678-1234-1234-1234-123456789016">
        <File Id="UserManual" Source="Documentation\User\UserManual.md" />
        <File Id="InstallationGuide" Source="Documentation\User\InstallationGuide.md" />
        <File Id="AdminManual" Source="Documentation\User\AdministratorManual.md" />
        <File Id="ArchitectureDoc" Source="Documentation\Technical\Architecture.md" />
        <File Id="ApiGuide" Source="Documentation\Technical\ApiIntegrationGuide.md" />
        <File Id="DevGuide" Source="Documentation\Technical\DeveloperGuide.md" />
      </Component>

      <!-- 라이선스 및 법적 문서 -->
      <Component Id="LegalDocuments" Guid="12345678-1234-1234-1234-123456789017">
        <File Id="License" Source="LICENSE" />
        <File Id="ThirdPartyNotices" Source="THIRD_PARTY_NOTICES.txt" />
        <File Id="Readme" Source="README.md" />
      </Component>
    </ComponentGroup>

    <!-- 시작 메뉴 바로가기 -->
    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="12345678-1234-1234-1234-123456789018">
      <Shortcut Id="ApplicationStartMenuShortcut" 
                Name="SimpleSerialToApi"
                Description="Serial to API data conversion tool"
                Target="[#SimpleSerialToApiExe]"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" 
                     Key="Software\YourCompany\SimpleSerialToApi" 
                     Name="installed" 
                     Type="integer" 
                     Value="1" 
                     KeyPath="yes" />
    </Component>

    <!-- 바탕화면 바로가기 (선택사항) -->
    <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="12345678-1234-1234-1234-123456789019">
      <Condition>DESKTOP_SHORTCUT</Condition>
      <Shortcut Id="ApplicationDesktopShortcut"
                Name="SimpleSerialToApi"
                Description="Serial to API data conversion tool"
                Target="[#SimpleSerialToApiExe]"
                WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue Root="HKCU" 
                     Key="Software\YourCompany\SimpleSerialToApi" 
                     Name="desktop_shortcut" 
                     Type="integer" 
                     Value="1" 
                     KeyPath="yes" />
    </Component>

    <!-- 레지스트리 항목 -->
    <Component Id="RegistryEntries" Directory="INSTALLFOLDER" Guid="12345678-1234-1234-1234-123456789020">
      <!-- 애플리케이션 정보 -->
      <RegistryKey Root="HKLM" Key="SOFTWARE\YourCompany\SimpleSerialToApi">
        <RegistryValue Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" />
        <RegistryValue Name="Version" Type="string" Value="1.0.0.0" />
        <RegistryValue Name="InstalledDate" Type="string" Value="[Date]" />
      </RegistryKey>
      
      <!-- 제거 정보 -->
      <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{ProductCode}">
        <RegistryValue Name="DisplayName" Type="string" Value="SimpleSerialToApi" />
        <RegistryValue Name="DisplayVersion" Type="string" Value="1.0.0.0" />
        <RegistryValue Name="Publisher" Type="string" Value="YourCompany" />
        <RegistryValue Name="UninstallString" Type="string" Value="MsiExec.exe /X{ProductCode}" />
        <RegistryValue Name="EstimatedSize" Type="integer" Value="102400" />
        <RegistryValue Name="NoModify" Type="integer" Value="1" />
        <RegistryValue Name="NoRepair" Type="integer" Value="1" />
      </RegistryKey>
    </Component>

    <!-- 사용자 인터페이스 -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    
    <!-- 라이선스 파일 -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <!-- 배너 및 대화상자 이미지 (선택사항) -->
    <!-- <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" /> -->

    <!-- 사용자 정의 속성 -->
    <Property Id="DESKTOP_SHORTCUT" Value="1" />
    
    <!-- 사용자 정의 액션 -->
    <CustomAction Id="CreateLogsFolder" 
                  Directory="LogsFolder" 
                  ExeCommand="cmd.exe /c if not exist &quot;[LogsFolder]&quot; mkdir &quot;[LogsFolder]&quot;" 
                  Execute="deferred" 
                  Impersonate="no" />
    
    <!-- 설치 시퀀스 -->
    <InstallExecuteSequence>
      <Custom Action="CreateLogsFolder" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>

    <!-- 시스템 요구사항 검사 -->
    <Condition Message="이 애플리케이션은 Windows 10 버전 1809 이상이 필요합니다.">
      <![CDATA[Installed OR (VersionNT >= 1000)]]>
    </Condition>
    
    <Condition Message="이 애플리케이션은 64비트 시스템이 필요합니다.">
      <![CDATA[Installed OR VersionNT64]]>
    </Condition>

    <!-- .NET 8 Runtime 검사 -->
    <Property Id="NETFRAMEWORK80">
      <RegistrySearch Id="NetFramework80Registry"
                      Root="HKLM"
                      Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
                      Name="Version"
                      Type="raw" />
    </Property>
    
    <Condition Message=".NET 8 Runtime이 설치되어 있어야 합니다. https://dotnet.microsoft.com/download에서 다운로드하세요.">
      <![CDATA[Installed OR NETFRAMEWORK80]]>
    </Condition>

  </Product>
</Wix>